 * {
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-size: 32px;
     font-weight: bold;
 }

 header {
     color:red;
 }






/*div {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    background :red;*/
/*    margin-bottom: 10px;*/

/*}*/

/*    .box1{*/
/*        background-color: darkorange;*/
/*    }*/
/*    .box2{*/
/*        background-color: dodgerblue;*/
/*    }*/
/*    .box3{*/
/*        background-color: green;*/
/*    }*/