

.box1 {
    display:inline-block;
    width:200px;
    height:200px;
    background-color: dodgerblue;
    padding-left:100px;
    border: 5px solid black;
    /*박스사이징은 패딩을 해도 박스 자체가 늘어나지않음*/
    box-sizing:border-box;
}

