section{
    padding-top:20vh;
}

.wrap{
    width: 200px;
    height:200px;
    background: black;
    margin: 0 auto;
}

.wrap .box{
    width:200px;
    height:200px;
    background: orange;
}

.wrap:hover .box{
    transform: translate(-50%, -100%);
}