section{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


.starRating {
    width:250px;
    height:30px;
    background: #333;
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.starRating .stars{
    width:50%;
}
.starRating .stars .fa{
    font-size: 18px;
    cursor: pointer;
}
.starRating .stars .fa.yellow{
    color: yellow;
    text-shadow : 0 0 5px yellow;
}
.starRating .print {
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}
.starRating .print img {
    width:20px;
    height:20px;
    margin-left:3px;
}