body{
    margin:0;
    padding:0;
}


.wrap{
    width: 600px;
    height: 600px;
    background-color: hotpink;
    position:relative;
    margin-left:100px;
    margin-top:100px;
}

.wrap div {
    width:200px;
    height:200px;
    position:absolute;
}

.wrap .box1{
    background-color: red;

}

.wrap .box2{
    background-color: orange;
    right:0;
    top:0;
}

.wrap .box3{
    background-color: green;
    right:0;
    bottom:0;
}

.wrap .box4{
    background-color: yellow;
    left:0;
    bottom:0;
}

.wrap .box5{
    background-color: dodgerblue;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.black {
    width: 600px;
    height: 200px;
    background-color: black;
}
