.container{
    width:800px;
    height:800px;
    position:relative;
    background-color: orange;
}

.container .box{
    position:absolute;
    top:100px;
    bottom:100px;
    left:100px;
    right:100px;
    background-color: dodgerblue;
}

/*position absolute 특징*/
/*1. 인라인, 블럭과는 다른 독립적인 요소로 변형한다.*/
/* -> 블럭의 기본 디폴트값 적용 x*/
/*  -> 인라인요소로 크기지정 가능*/
/*   2. 각 좌표를 모두 설정하게 되면 크기를 지정할 수 있다.*/

