*{
    box-sizing:border-box;
}
.visual{
    width:100%;
    height:350px;
    background-color: blue;
    margin-bottom: 20px;

}

.visual header{
    width:1000px;
    height:80px;
    background-color: black;
    margin: 0 auto;

}

.wrap{
    width:1000px;
    display:flow-root;
    background: hotpink;
    margin: 0 auto;
}

.wrap .contents{
    width:1000px;
    height:400px;
}

.wrap .contents .boxWrap{
    width:180px;
    height:400px;
    float:left;
}
.wrap .contents .box1{
    background: orange;
    float:left;
    width:180px;
    height:198px;
}
.wrap .contents .box2{
    background: orange;
    float:left;
    width:180px;
    height:198px;
    margin-top:4px;
}

.wrap .contents .box3{
    width:314px;
    height:400px;
    float:left;
    background: orange;
    margin:0 4px;
}

.wrap .contents .box4{
    width:314px;
    height:400px;
    float:left;
    background: orange;
    margin-right:4px;
}

.wrap .contents .box5{
    background: orange;
    float:left;
    width:180px;
    height:198px;
}
.wrap .contents .box6{
    background: orange;
    float:left;
    width:180px;
    height:198px;
    margin-top:4px;
}

footer{
    height:50px;
    width:1000px;
    background: black;
    margin: 20px auto 0 auto;

}