.wrap{
    position:relative;
    height:100vh;
}
.left{
    position:absolute;
    width:340px;
    height:100%;
    background: black;
}
.contents{
    position:absolute;
    left:340px;
    right:0;
    top:0;
    bottom:0;
    background: orange;
}

.contents div{
    width:300px;
    height:200px;
    background: dodgerblue;
}
