
div {
    font-size: 50px;
    font-weight: bold;
}

/*header > section > article > div {*/
/*    color: red;*/
/*}*/

/*header section article div {*/
/*    color: blue;*/
/*}*/

/*header > div {*/
/*    color: red;*/
/*}*/

/*header div {*/
/*    color: orange;*/
/*}*/


/*header section article div {*/
/*    color: blue;*/
/*}*/

/*header section div {*/
/*    color: red;*/
/*}*/

/*header div {*/
/*    color: green;*/
/*}*/



/*header div {*/
/*    color: blue;*/
/*}*/
/*header section div {*/
/*    color: red;*/
/*}*/

/*header section article div {*/
/*    color: red;*/
/*}*/
/*header section article div {*/
/*    color: green;*/
/*}*/


/*.box1 .box2 .box3 .box4 {*/
/*    color: red;*/
/*}*/
/*.box1 .box2 .box3 .box4 {*/
/*    color: blue;*/
/*}*/
/*.box1 .box2 .box3 .box4 {*/
/*    color: orange;*/
/*}*/


.box1 .box2 .box3 .box4 {
    color: orange;
}
.box1 .box2 .box4 {
    color: blue;
}
.box1 .box4 {
    color: red;
}













