@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans+KR:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Sans+KR:wght@500&display=swap');



a {
    text-decoration:none;
    color:black;
}

.container{
    height:100vh;
    position:relative;
    background: orange;
}

.videoFrame{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.videoFrame video{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    min-width:100%;
    min-height:100%;
    width:100%;
    height:100%;
    object-fit:cover;
}

.gradientBg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(200deg, crimson, transparent);
}
.contents{
    position:absolute;
    top:100px;
    left:100px;
    right:100px;
    bottom:100px;
}
.contents .videoLogo{
    top:0;
    left:0;
    position:absolute;
}
.contents .videoLogo a img{
    width:100px;
}
.textContents{
    width:600px;
    position:absolute;
    left:0;
    bottom:0;
    color:white;
}
.textContents h2 strong{
    font-size:40px;
    font-weight:bold;
    color:red;
}
.textContents .description{
    line-height:1.2;
    margin:20px 0 ;
}
.btnWrap {
    display: flow-root;
}
.btnWrap .book a{
    font-size:14px;
    float:left;
    border:2px solid white;
    border-radius:20px;
    color:white;
    background: transparent;
    padding:15px;
    text-align:center;
    margin-right:10px;
}
.btnWrap div a{
    background: white;
    font-size:14px;
    float:left;
    color:black;
    border-radius:20px;
    padding:15px;
    text-align:center;
}
.btnWrap .book a:hover{
    background: black;
    border:none;
}
.btnWrap div a:hover{
    background: black;
    color: white;
}
.sideContents{
    width:300px;
    height:300px;
    position:absolute;
    right:0;
    bottom:0;
    text-align:center;
    color:white;
}
.sideContents .cate{
    font-size:20px;
}
.sideContents .number{
    font-family:"Monoton", "sans-serif";
    font-size:60px;
}
.popupMenuBtn{
    width:40px;
    height:20px;
    color:white;
    position:absolute;
    top:0;
    right:0;
}
.popupMenuBtn div{
    width:100%;
    height:1px;
    background: white;
    position:absolute;
}
.popupMenuBtn .line1{
    top:0;
}
.popupMenuBtn .line2{
    top:50%;
}
.popupMenuBtn .line3{
    top:100%;
}
.btnWrap .book div:hover{
}